.mainContent {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    height: 100%;
}

.mainContent::-webkit-scrollbar {
    display: none; 
  }